@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

.mobile{
    display: none;
}

strong {
    font-weight: bold;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 54px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    z-index: 1;
}

nav {
    width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon {
    font-size: 22px;
}

ion-icon:hover {
    cursor: pointer;
}

.instagram-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instagram-logo:hover {
    cursor: pointer;
}

.instagram-logo div {
    margin: 0 10px;
    height: 22px;
    border-right: 1px solid #DBDBDB;
}

.search {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #979797;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.search:hover {
    cursor: text;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons div {
    margin: 0 10px;
}

.buttons div:first-child {
    margin-left: 0;
}

.buttons div:last-child {
    margin-right: 0;
}

.content {
    width: 935px;
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
}

.storys {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 614px;
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 11px;
    overflow: hidden;
    margin-bottom: 24px;
}

.storys div:hover {
    cursor: pointer;
}

.storys .border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 7px;
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.border:hover {
    filter: brightness(105%);
}

.storys img:first-child {
    position: absolute;
    width: 66px;
    border-radius: 33px;
}

.storys img:last-child {
    position: absolute;
    width: 56px;
    border-radius: 33px;

}

.storys p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.arrow {
    position: absolute;
    right: 5px;
    top: 43px;
    font-size: 33px;
    border-radius: 33px;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) opacity(30%);
    transition: 200ms;
}

.arrow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) opacity(100%);
    transition: 200ms;
}

.post {
    width: 614px;
    margin: 0 0 60px 0;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 17px;
}

.post-top div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-top div:hover {
    cursor: pointer;
}

.post-top img {
    width: 32px;
    border-radius: 16px;
    margin: 17px 15px 15px 0;
}

.post-top p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #262626;
}

.ellipsis {
    font-size: 16px;
}

.img-post {
    width: 100%;
}

.img-post:hover {
    cursor: pointer;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}

.interaction-buttons {
    margin-right: 14px;
}

.post-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 14px 15px;
}

.post-information img {
    width: 20px;
    margin-right: 5px;
}

.post-information p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

video {
    width: 100%;
    height: 612px;
}

.sidebar {
    top: 111px;
    width: 293px;
    position: fixed;
    left: auto;
}

.main-recommended {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.main-recommended img {
    width: 56px;
}

.main-recommended img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.main-recommended div {
    margin: 0 0 0 17px;
}

.main-recommended h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.main-recommended h2:hover {
 cursor: pointer;
}

.main-recommended p {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.suggestion h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.suggestion h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.suggestion h3:hover {
    cursor: pointer;
}

.recommended-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.recommended-box h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

.recommended-box h3:hover {
    cursor: pointer;
    filter: brightness(60%);
}

.recommended-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommended-profile img {
    width: 32px;
}

.recommended-profile img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.recommended-profile div {
    margin: 0 0 0 11px;
}

.recommended-profile h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.recommended-profile h2:hover {
    cursor: pointer;
}

.recommended-profile p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.fixed {
    width: 100%;
    margin: 25px 0 0 29px;
}

.direitos {
    margin-top: 33px;
}

.direitos p {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.direitos h5 {
    margin-top: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
}

.bottom-bar {
    display: none;
}

.comment {
    display: flex;
    margin: 0 0 14px 15px;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.more-comment {
    margin: 0 0 14px 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.more-comment h6 {
    margin-bottom: 12px;
}

.more-comment h6:hover {
    cursor: pointer;
    filter: brightness(60%);
    transition: 300ms;
}

.more-comment p {
    font-size: 12px;
}

.add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    border-top: 1px solid #DBDBDB;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.add-comment div {
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.add-comment input {
    width: 100%;
    height: 42px;
    margin:0 14px;
    border: 0px solid #FFFFFF;
}

.add-comment input:focus {
    outline: none;
}

.emojis {
    font-size: 30px;
}

.add-comment button {
    margin-right: 14px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #B2DFFC;
    font-weight: bold;
    transition: 300ms;
}

.add-comment button:hover {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    color: #0095F6;
    transition: 300ms;
}

@media (max-width: 935px) {

    nav {
        width: 100%;
    }

    .fixed {
        display: none;
    }

    .instagram-logo {
        margin-left: 20px;
    }

    .buttons {
        margin-right: 20px;
    }

    .content {
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 635px) {
    
    .mobile {
        display: initial;
    }
    
    .search {
        display: none;
    }
    
    .none {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    .logo-instagram-buttom {
        margin-left: 20px;
    }

    .instagram-logo div {
        display: none;
    }
    
    .buttons div {
        margin: 0;
    }

    .buttons div:first-child {
        margin-right: 20px;
    }
    
    .content {
        width: 100%;
        margin-top: 52px;
        justify-content: space-between;
    }
    
    .storys {
        border: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .arrow {
        display: none;
    }

    .bottom-bar {
        background-color: #FFFFFF;
        border: 1px solid #DBDBDB;
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .bottom-bar div:first-child {
        margin-left: 20px;
    }

    .bottom-bar div:last-child {
        margin-right: 20px;
    }
}